<div class="row">

  <div class="col-sm-4">
    <h1>Edit Movie</h1>
  </div>
  <div class="col-sm-4">

    <%= bootstrap_form_for(@movie) do |form| %>

      <%= form.text_field :title %>
      <%= form.collection_select :director_id, Director.all, :id, :name %>
      <%= form.text_field :mpaa, label: "MPAA Rating" %>
      <%= form.number_field :year %>
      <%= form.number_field :runtime %>
      <%= form.url_field :image_url %>
      <%= form.text_area :plot, rows: 4 %>
      <%= form.submit class: 'btn btn-success'%>

      or
      <%= link_to "Cancel", "/movies" %>
    <% end %>

  </div>
</div>
