<div class="row">

  <div class="col-sm-4">
    <h1>Sign up here!</h1>
  </div>

  <div class="col-sm-4">

    <%= bootstrap_form_for(@user) do |form| %>

      <%= form.text_field :first_name, required: true %>
      <%= form.text_field :last_name, required: true %>
      <%= form.email_field :email, required: true, label: "Full Kellogg e-mail" %>
      <%= form.select :program, ['1Y', '2Y'],  required: true, label: "What program are you in?" %>
      <%= form.number_field :graduation_year, required: true, label: "Graduation year" %>
      <%= form.password_field :password, required: true %>
      <%= form.password_field :password_confirmation, label: "Password Again", required: true %>
      <%= form.submit "Sign Me Up!", class: 'btn btn-success'%>

    <% end %>

  </div>
</div>
